@model SalonManager.Models.Booking
@using System.Security.Claims
@{
    ViewData["Title"] = "Details";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceId)
        </dt>
        <dd class="col-sm-10">
            @(Model.Service != null ? Model.Service.Name : "N/A")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffId)
        </dt>
        <dd class="col-sm-10">
            @(Model.Staff != null ? Model.Staff.Name : "N/A")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @(Model.Customer != null ? Model.Customer.Email : "N/A")
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
    @if (
        User.IsInRole("Admin") ||
        (User.IsInRole("Customer") && Model.CustomerId == userId) ||
        (User.IsInRole("Staff") && Model.Staff != null && Model.Staff.ApplicationUserId == userId)
        )
    {
        <text> | <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a></text>
    }
</div>
